/* You can add global styles to this file, and also import other style files */
@import url('http://netdna.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');
/*@import '~angular-notifier/styles';*/

body{
    background: #edf1f5;
    margin-top:20px;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 0;
}
.card {
    margin-bottom: 30px;
}
.card-body {
    flex: 1 1 auto;
    padding: 1.57rem;
}

.note-has-grid .nav-link {
    padding: .5rem
}

.note-has-grid .single-note-item .card {
    border-radius: 10px
}

.note-has-grid .single-note-item .favourite-note {
    cursor: pointer
}

.note-has-grid .single-note-item .side-stick {
    position: absolute;
    width: 3px;
    height: 35px;
    left: 0;
    background-color: rgba(82, 95, 127, .5)
}

.note-has-grid .single-note-item .category-dropdown.dropdown-toggle:after {
    display: none
}

.note-has-grid .single-note-item .category [class*=category-] {
    height: 15px;
    width: 15px;
    display: none
}

.note-has-grid .single-note-item .category [class*=category-]::after {
    content: "\f0d7";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 12px;
    color: #fff;
    position: absolute
}

.note-has-grid .single-note-item .category .category-business {
    background-color: rgba(44, 208, 126, .5);
    border: 2px solid #2cd07e
}

.note-has-grid .single-note-item .category .category-social {
    background-color: rgba(44, 171, 227, .5);
    border: 2px solid #2cabe3
}

.note-has-grid .single-note-item .category .category-important {
    background-color: rgba(255, 80, 80, .5);
    border: 2px solid #ff5050
}

.note-has-grid .single-note-item.all-category .point {
    color: rgba(82, 95, 127, .5)
}

.note-has-grid .single-note-item.note-business .point {
    color: rgba(44, 208, 126, .5)
}

.note-has-grid .single-note-item.note-business .side-stick {
    background-color: #2cd07e80
}

.note-has-grid .single-note-item.note-business .category .category-business {
    display: inline-block
}

.note-has-grid .single-note-item.note-favourite .favourite-note {
    color: #ffc107
}

.note-has-grid .single-note-item.note-social .point {
    color: rgba(44, 171, 227, .5)
}

.note-has-grid .single-note-item.note-social .side-stick {
    background-color: #2cabe380
}

.note-has-grid .single-note-item.note-social .category .category-social {
    display: inline-block
}

.note-has-grid .single-note-item.note-important .point {
    color: rgba(255, 80, 80, .5)
}

.note-has-grid .single-note-item.note-important .side-stick {
    background-color: #ff505080
}

.note-has-grid .single-note-item.note-important .category .category-important {
    display: inline-block
}

.note-has-grid .single-note-item.all-category .more-options,
.note-has-grid .single-note-item.all-category.note-favourite .more-options {
    display: block
}

.note-has-grid .single-note-item.all-category.note-business .more-options,
.note-has-grid .single-note-item.all-category.note-favourite.note-business .more-options,
.note-has-grid .single-note-item.all-category.note-favourite.note-important .more-options,
.note-has-grid .single-note-item.all-category.note-favourite.note-social .more-options,
.note-has-grid .single-note-item.all-category.note-important .more-options,
.note-has-grid .single-note-item.all-category.note-social .more-options {
    display: none
}

.hide {
    display: none;
}

.pingNotificationAlert {
    position: fixed;
    top: 6.5em;
    right: 12em;
}

/*Side bar*/
.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

/*Other*/
a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

/*Dark Mode overlay*/
.overlay {
    display: none;
    position: fixed;
    top: 0;
    /* full screen */
    width: 100vw;
    height: 100vh;
    /* transparent black */
    background: rgba(0, 0, 0, 0.7);
    /* middle layer, i.e. appears below the sidebar */
    z-index: 998;
    opacity: 0;
    /* animate the transition */
    transition: all 0.5s ease-in-out;
}
/* display .overlay when it has the .active class */
.overlay.active {
    display: block;
    opacity: 1;
}

#dismiss {
    width: 35px;
    height: 35px;
    position: absolute;
    /* top right corner of the sidebar */
    top: 10px;
    right: 10px;
}

@media (max-width:767.98px) {
    .note-has-grid .single-note-item {
        max-width: 100%
    }
}

@media (max-width:991.98px) {
    .note-has-grid .single-note-item {
        max-width: 216px
    }
}
